 h2{
	 background-color: green;
	 color: white;                        
 }      
.close-modal{        
    float: right;
 }
    color: white;
    padding-left: 10px;
 }
    .modal-body{  
        width: 75vw;       
        display: flex;
        padding: 0px 10px 0px 20px;
        /* border: 2px solid black; */
        justify-content: space-between;
        }